<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add inactive date
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add an inactive date</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(model: inactive_event, url: add_inactive_event_path({event_id: @event}), local: true) do |form| %>
        <div class="modal-body">
          <% if inactive_event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(inactive_event.errors.count, "error") %> prohibited this inactive_event from being saved:</h2>

              <ul>
                <% inactive_event.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :date %>
            <%= form.text_field :date, class: 'inactiveDates' %>
          </div>

          <div class="field">
            <%= form.hidden_field :event_id %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit 'Submit', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>