<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @inactive_event.date %>
</p>

<p>
  <strong>Event:</strong>
  <%= @inactive_event.event_id %>
</p>

<%= link_to 'Edit', edit_inactive_event_path(@inactive_event) %> |
<%= link_to 'Back', inactive_events_path %>
