
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ticketModal">
  Add new ticket
</button>

<!-- Modal -->
<div class="modal fade" id="ticketModal" tabindex="-1" role="dialog" aria-labelledby="ticketModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(model: ticket, url: add_ticket_event_path({event_id: @event}), local: true) do |form| %>
        <div class="modal-body">
          <% if ticket.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this inactive_event from being saved:</h2>

              <ul>
                <% ticket.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name %>
          </div>

          <div class="field">
            <%= form.label :option %>
            <%= form.label :option, "Free", :value => "free"  %>
            <%= form.radio_button :option, "free" %>
            <%= form.label :option, "Paid", :value => "paid" %>
            <%= form.radio_button :option, "paid" %>
          </div>

          <div class="field">
            <%= form.label :amount %>
            <%= form.number_field :amount %>
          </div>

          <div class="field">
            <%= form.hidden_field :event_id %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit 'Submit', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
